services:
    cca.event_dispatcher.populator:
        class: ContaoCommunityAlliance\Contao\EventDispatcher\EventDispatcherPopulator
        arguments:
            - "@event_dispatcher"
            - "%cca.event_dispatcher.legacy_listeners%"
            - "%cca.event_dispatcher.legacy_subscribers%"
